.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover,
.dropdown-menu>li>a:hover,
.carousel-indicators .active,
.color-box .gear-check

{
    background-color: #5c7658;
}
.container .navbar-header .brand span,
.about span,
.review span,
.footer .footer-contant ul>h2
{
    color: #5c7658;
   
}
.navbar-nav>li>.dropdown-menu
{
    border-top: 3px solid #5c7658;
}
.color-box .color-option,
.review .carousel-indicators li.active
{
    border: 4px solid #5c7658;
}